#%RAML 0.8
title: Steroids Data
mediaType: application/json
baseUri: https://rest-api.appgyver.com/v1/

traits:
  - securedBySteroidsApiKey:
      headers:
        steroidsApiKey:
          type: string
          example: exampleapikey
          default: eb3ffdb8bc373189e3de4514d1201e2e6e05cd679c267bd5b13126866c55e5eb
        steroidsAppId:
          type: integer
          example: 1234
          default: 56512

schemas:
  - Game_collection: '{"$schema":"http://json-schema.org/schema","title":"Game collection","type":"object","properties":{"results":{"type":"array","items":{"$schema":"http://json-schema.org/schema","type":"object","description":"The canonical Game representation","properties":{"Current_Num_Of_Players":{"type":"integer"},"End_Time":{"type":"object"},"Max_Num_Of_Players":{"type":"string"},"Notes":{"type":"string"},"Start_Time":{"type":"object"},"createdAt":{"type":"string"},"location":{"type":"string"},"objectId":{"type":"string"},"sport":{"type":"string"},"updatedAt":{"type":"string"}},"required":[]}}}}'
  - Game_member: '{"$schema":"http://json-schema.org/schema","type":"object","description":"The canonical Game representation","properties":{"Current_Num_Of_Players":{"type":"integer"},"End_Time":{"type":"object"},"Max_Num_Of_Players":{"type":"string"},"Notes":{"type":"string"},"Start_Time":{"type":"object"},"createdAt":{"type":"string"},"location":{"type":"string"},"objectId":{"type":"string"},"sport":{"type":"string"},"updatedAt":{"type":"string"}},"required":[]}'

resourceTypes:
  - dolan_db_collection:
      usage: This resourceType should be used for any collection of items
      is: [ securedBySteroidsApiKey ]
      get:
        description: |
          {
            "action": "collection"
          }
        responses:
          200:
            description: |
              {
                "rootKey": "objects"
              }
            body:
              application/json:
                schema: <<resourcePathName>>_collection # e.g cars
      post:
        description: |
          {
            "action": "create",
            "rootKey": "object"
          }
        body:
          application/json:
            schema: <<resourcePathName>>_member
        responses:
          200:
            description: |
              {
                "rootKey": "object"
              }
            body:
              application/json:
                schema: <<resourcePathName>>_member # e.g. car

  - dolan_db_member:
      usage: This resourceType should be used for any built.io item
      is: [ securedBySteroidsApiKey ]
      get:
        description: |
          {
            "action": "find"
          }
        responses:
          200:
            description: |
              {
                "rootKey": "object"
              }
            body:
              application/json:
                schema: <<resourcePathName>>_member # e.g. car
      put:
        description: |
          {
            "action": "update",
            "rootKey": "object"
          }
        body:
          application/json:
            schema: <<resourcePathName>>_member
        responses:
          200:
            description: |
              {
                "rootKey": "object"
              }
            body:
              application/json:
                schema: <<resourcePathName>>_member
      delete:
        description: |
          {
            "action": "destroy"
          }
        responses:
          200:

  - parse_collection:
      usage: This resourceType should be used for any collection of items
      is: [ securedBySteroidsApiKey ]
      get:
        description: |
          {
            "action": "collection"
          }
        responses:
          200:
            description: |
              {
                "rootKey": "results"
              }
            body:
              application/json:
                schema: <<resourcePathName>>_collection # e.g cars
      post:
        description: |
          {
            "action": "create"
          }
        body:
          application/json:
            schema: <<resourcePathName>>_member
        responses:
          200:
            body:
              application/json:
                schema: <<resourcePathName>>_member # e.g. car

  - parse_member:
      usage: This resourceType should be used for any parse item
      is: [ securedBySteroidsApiKey ]
      get:
        description: |
          {
            "action": "find"
          }
        responses:
          200:
            body:
              application/json:
                schema: <<resourcePathName>>_member # e.g. car
      put:
        description: |
          {
            "action": "update"
          }
        body:
          application/json:
            schema: <<resourcePathName>>_member
        responses:
          200:
            body:
              application/json:
                schema: <<resourcePathName>>_member
      delete:
        description: |
          {
            "action": "destroy"
          }
        responses:
          200:


/Game:
  description: |
    {
      "resourceName": "Game",
      "identifierKey": "objectId"
    }
  type: parse_collection
  /{id}:
    type: parse_member


