<div class="list">

  
  <!--<label class="item item-input item-stacked-label">
    <span class="input-label">Current_Num_Of_Players</span>
    <input type="text" ng-model="game['Current_Num_Of_Players']">
  </label>-->
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">Sport</span>
    <input type="text" ng-model="game['sport']">
  </label>

   <label class="item item-input item-stacked-label">
    <span class="input-label">Location</span>
    <input type="text" ng-model="game['location']">
  </label>

 <label class="item item-input item-stacked-label">
    <span class="input-label">Start Time</span>
    <input type="text" ng-model="game['Start_Time']">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">End Time</span>
    <input type="text" ng-model="game['End_Time']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">Maximum Number of Players</span>
    <input type="text" ng-model="game['Max_Num_Of_Players']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">Comments?</span>
    <input type="text" ng-model="game['Notes']">
  </label>
  
 
  
  <!--<label class="item item-input item-stacked-label">
    <span class="input-label">createdAt</span>
    <input type="text" ng-model="game['createdAt']">
  </label>-->
  
 
  
  <!--<label class="item item-input item-stacked-label">
    <span class="input-label">objectId</span>
    <input type="text" ng-model="game['objectId']">
  </label>-->
  

  
  <!--<label class="item item-input item-stacked-label">
    <span class="input-label">updatedAt</span>
    <input type="text" ng-model="game['updatedAt']">
  </label>
  -->

  <br>

  <button class="button button-block button-positive">Save</button>

</div>
